@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.navbar {
    background-color: #FFFFFF;
    font-size: 1em;
    font-family: 'Poppins';
    color: #000000;
    padding: 8px 5px 8px 5px;
}

.navbar-brand:hover {
    color: #4cd9e8;  
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 30px;
}

.navbar-brand-right {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: .28%;
    display: inline;
    float: right;
}

.navbar-brand-right-base {
    font-size: 1.2em;
    font-weight: 600;
    float: right;
    border-left: 30px;
    margin-left: 30px;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.center {
    vertical-align: middle;
    font-weight: 600;
    width: auto;
    height: 50px;
}

.body-content {
    padding: 5px;
    font-family: 'Poppins'; 
}

#hr-nav{
    margin-top: 0%;
}

#lightDarkSelector {
    appearance: initial;
    margin-left: 80%;
    vertical-align: middle;
    width: 1cm;
    height: 20px;
    cursor: grab;
    border-width: 0px;
    background-color: #FFF000;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#lightDarkSelector::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 20px;
    width: 0.5cm;
    border-radius: 8px;
    background: #cacaca;
    cursor: pointer;
}

#lightDarkSelector::-moz-range-thumb {
    -moz-appearance: none;
    height: 20px;
    color: #cacaca;
}

#lightDarkSelector:focus {
    outline: none;
}

/* *customizing  */

#weird-hight {
    min-height: 500px;
}

#W3C {
    border:0;
    width:88px;
    height:31px;
}

/* * PA Page */
.pa-f1-a1-MARGIN {
    margin-left: 1%;
}

/* *QF Page */
.QF-MARGIN {
    margin-left: 1%;
}

/* *trythingyd page */
#TRY-1-NEEDS_MARGIN {
    margin-left: 6%;
}

#img-1-WEB-1 {
    width: 100%;
}

#try-tot {
    width: 250px;
}
/* *LOGIN PAGE */
.NEEDS_MARGIN {
    margin-left: 2%;
}

/* *main page stuff */

.insta {
    vertical-align: middle;
}

#insta-logo {
    width: auto;
    height: 40px;
}

#Tittle {
    font-family: 'Patrick Hand';
    text-align: right;
    margin-right: 10%;
    font-size: 1000%;
}

#Tittle-Div {
    background-image: url(/img/WEB-1NewNewTittleImage.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 18cm;
}

.main-div-nav {
    display: inline-block;
    background-color: #FFF000;
    min-height: 330px;
    width: 48.5%;
    margin: 0.5%;
    border-radius: 2mm;
    vertical-align: top;
}

/* *Other Stuff */

input {
    margin-left: 0.5%;
    border-radius: 8px;
    border-color: inherit;
    border-style: none;
    height: 30px;
    background-color: #363636;
    border-color: black;
    color: #cacaca;
    border-style: ridge;
    border-width: 0.8mm;
    font-size: larger;
    font-weight: 600;
    font-family: 'Poppins';
    margin-left: 1%;
}

.btn-default {
    margin-left: 0.5%;
    margin: 2mm;
    height: 30px;
    border-radius: 1.5mm;
    background-color: #363636;
    color: #cacaca;
    border-style: none;
    font-size: larger;
    font-weight: 600;
    min-width: 100px;
    font-family: 'Poppins';
    margin-left: 1%;
}

select {
    height: 38px;
    width: 120px;
    border-radius: 1.5mm;
    border-style: ridge;
    border-width: 0.8mm;
    background-color: #363636;
    border-color: black;
    font-size: larger;
    font-weight: 600;
    color: #cacaca;
    padding: 1mm;
    font-family: 'Poppins';
    margin-left: 1%;
}

#TYPE {
    width: 200px;
}

mail { 
    color: rgb(52, 52, 216)
}

button {
    background-color: inherit;
    color: inherit;
}

body#_0 {
    font-family: 'Poppins';
    background-color: #020206;
    color: #cacaca;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6,p {
    margin-left: 2%;
}

p.subfordoc {
    font-size: 20px;
}

h1.doc {
    padding-bottom: 2px;
}

/* All Conversion pages */
.Ans-block {
    background-color: #FFF000;
    width: 60%;
    height: auto;
    border-radius: 5mm;
    margin-left: .5%;
    vertical-align: top;
}

.Legend-block {
    background-color: #FFF000; 
    width: 35%;
    height: auto;
    border-radius: 5mm;
    margin-left: 4%;
    margin-right: 2mm;
    margin-top: .5%;
    margin-bottom: 2%;
    vertical-align: top;
}

.vertical-align {
    border-radius: 5mm;
    margin: 2mm;
    vertical-align: top;
    display: inline-block;
}

.ans-text.ans-text-NUM {
    margin-left: 1%;
}

.Legend-text {
    margin-left: 1%;
}

p.ans-footer {
    text-align: center;
}

/* !MEMBERSHIP PAGE */

/* Conventions, Program, tri programs */
.Program-link {
    text-decoration: underline;
    color: #000000;
    font-weight: 600;
    font-size: large;
    margin-left: 3%;
}

.Program-link-red {
    text-decoration: underline;
    color: #000000;
    font-weight: 600;
    font-size: large;
    margin-left: 3%;
}

.Program-link:hover {
    color: #4cd9e8;
}

/* PA Program*/

.btne {
    background-color: rgb(122, 63, 63);
    
}

.Equal {
    display: inline;
}

/* Dropdown css */

/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 30px;
    font-family: 'Poppins';
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 5px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 310px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2mm;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover
  .dropdown-content a:hover 
  {
    background-color: #ddd;
    
  } */
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
