@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.navbar {
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    font-family: 'Poppins';
    color: rgb(0, 0, 0);
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 30px;
}

.navbar-brand-right {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: .28%;
    display: inline;
    float: right;
}

.navbar-brand-right-base {
    font-size: 1.2em;
    font-weight: 600;
    float: right;
    border-left: 30px;
    margin-left: 30px;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family: 'Poppins'; 
}

#singup-nav {
    border-radius: 2mm;
    background-color: rgb(255, 240, 0);
}

/* *customizing  */

#W3C {
    border:0;
    width:88px;
    height:31px;
}

/* * PA Page */
.pa-f1-a1-MARGIN {
    margin-left: 1%;
}

/* *QF Page */
.QF-MARGIN {
    margin-left: 1%;
}

/* *trythingyd page */
#TRY-1-NEEDS_MARGIN {
    margin-left: 6%;
}

#img-1-WEB-1 {
    width: 100%;
}

#try-tot {
    width: 250px;
}

/* *LOGIN PAGE */
.NEEDS_MARGIN {
    margin-left: 2%;
}

/* *LOGEDIN PAGE */

.loggedInPageDisplayDivs {
    display: inline-block;
    width: 33%;
    background-color: rgb(255, 240, 0);
    border-radius: 5mm;
    height: 8cm;
}

/* ! Tittle */

/* *main page stuff */

.Tittle {
    font-family: 'Patrick Hand';
    text-align: right;
    margin-right: 10%;
    font-size: 1000%;
}

.Tittle-Div {
    background-image: url(/img/WEB-1NewNewTittleImage.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 18cm;
}

.main-div-nav {
    display: inline-block;
    background-color: rgb(255, 240, 0);
    min-height: 330px;
    width: 33%;
    border-radius: 2mm;
    vertical-align: top;
}

/* *Other Stuff */

input {
    margin-left: 0.5%;
    border-radius: 8px;
    border-color: inherit;
    border-style: none;
    height: 30px;
    background-color: #ffffff;
    border-color: black;
    border-style: ridge;
    border-width: 0.8mm;
    font-size: larger;
    font-weight: 600;
    font-family: 'Poppins';
}

.btn-default {
    margin-left: 0.5%;
    margin: 2mm;
    height: 30px;
    border-radius: 1.5mm;
    background-color: #ffffff;
    border-style: none;
    font-size: larger;
    font-weight: 600;
    background-color: #cacaca;
    min-width: 100px;
    font-family: 'Poppins';
}

select {
    height: 38px;
    width: 120px;
    border-radius: 1.5mm;
    border-style: ridge;
    border-width: 0.8mm;
    border-color: black;
    font-size: larger;
    font-weight: 600;
    color: black;
    padding: 1mm;
    font-family: 'Poppins';
}

mail { 
    color: rgb(52, 52, 216)
}

button {
    background-color: inherit;
    color: inherit;
}

body {
    font-family: 'Poppins';
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

h1,h2,h3,h4,h5,h6,p {
    color: rgb(0, 0, 0);
    margin-left: 2%;
}

a {
    color: rgb(0, 81, 255);
    cursor: pointer;
    /* text-decoration: underline; */
}

p.subfordoc {
    font-size: 20px;
}

h1.doc {
    padding-bottom: 2px;
}

/* All Conversion pages */
.Ans-block {
    background-color: rgb(255, 240, 0);
    width: 60%;
    min-height: 15.5cm;
    max-height: 17.3cm;
    height: auto;
    border-radius: 5mm;
    margin-left: .5%;
    display: inline-block;
    vertical-align: top;
}

.Legend-block {
    background-color: rgb(255, 240, 0);
    width: 35%;
    height: auto;
    border-radius: 5mm;
    margin-left: 4%;
    margin-top: .5%;
    margin-bottom: 2%;
    display: inline-block;
    position: absolute;
    vertical-align: top;
}

.vertical-align {
    vertical-align: top;
}

.ans-text.ans-text-NUM {
    margin-left: 1%;
}

.Legend-text {
    margin-left: 1%;
}

p.ans-footer {
    text-align: center;
}

/* !MEMBERSHIP PAGE */

div.membership-page {
    background-color: rgb(255, 240, 0);
    width: 25%;
    height: auto;
    border-radius: 5mm;
    display: inline-block;

}

#free {
    /* margin-left: 12.5%; */
    margin-left: 25%;
}

.Membership-page-normal_text {
    font-size: large;
    font-weight: 500;
}

.Membership-page-text {
    padding: 5%;
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.Membership-page-text-list {
    padding: 5%;
    padding-left: 5%;
    text-align: left;
}

.Membership-page-h2_tittles {
    font-size: .8cm;
}

#top {
    padding-top: 4cm;
    font-size: .8cm;
}

.Membership-page-tittle {
    text-align: center;
    font-size: 1cm;
}

/* Conventions, Program, tri programs */
.Program-link {
    text-decoration: underline;
    color: rgb(49, 49, 49);
    font-weight: 600;
    font-size: large;
    margin-left: 3%;
}

/* PA Program*/

.btne {
    background-color: rgb(122, 63, 63);
    
}

.Equal {
    display: inline;
}

/* Dropdown css */

/* Dropdown Button */
.dropbtn {
    /* color: white; */
    padding: 16px;
    font-size: 16px;
    border: none;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 30px;
    font-family: 'Poppins';
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    padding: 5px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 2mm;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover
  .dropdown-content a:hover 
  {
    background-color: #ddd;
    
  } */
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(88, 86, 86);}